@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";
#root {
  max-width: 1280px;
  margin: 0 auto;
}

.theme-light {
  background-color: #f4f4f4;
  color: #333;
}
.theme-dark {
  background-color: #333;
  color: #f4f4f4;
}
.theme-light.navbar {
  background-color: #f4f4f4;
  color: #333;
}

.theme-dark.navbar {
  background-color: #333;
  color: #f4f4f4;
}

.theme-light .navbar .nav-link,
.theme-light .navbar .navbar-brand {
  color:#333 !important;
}

.theme-dark .navbar .nav-link,
.theme-dark .navbar .navbar-brand {
  color: #f4f4f4 !important;
}

.theme-light .footer {
  background-color: blue;
  color: white;
}

.theme-dark .footer {
  background-color: darkviolet;
  color: white;
}


